@font-face {
  font-family: "amsterdam";
  src: local("amsterdam"), local("amsterdam"), url("../font/Amsterdam Four_ttf 400.ttf");
}
@font-face {
  font-family: "pixel";
  src: local("pixel"), local("pixel"), url("../font/Pixel.ttf");
}
@keyframes light-glow-col {
  0% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-right: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) -10px 0px 45px -7px inset, rgb(202, 46, 216) 10px 0px 45px -7px;
  }
  50% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-right: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) -10px 0px 45px -7px inset, rgb(39, 168, 243) 10px 0px 45px -7px;
  }
  80% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@keyframes light-glow-lin {
  0% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-top: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) 0px 10px 45px -7px inset, rgb(39, 168, 243) 0px -15px 45px -7px;
  }
  50% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-top: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) 0px 10px 45px -7px inset, rgb(202, 46, 216) 0px -15px 45px -7px;
  }
  80% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@keyframes react-fly {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes wakeup-sun {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
#home {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#sky {
  height: 60vh;
  width: 100vw;
  position: relative;
  z-index: -5;
  background: rgb(29, 6, 38);
  background: radial-gradient(circle, rgb(29, 6, 38) 0%, rgb(93, 23, 101) 30%, rgb(139, 34, 133) 60%, rgb(40, 33, 94) 92%, rgb(33, 11, 47) 100%);
}
@media screen and (min-width: 1400px) {
  #sky {
    background: radial-gradient(circle, rgb(29, 6, 38) 0%, rgb(93, 23, 101) 30%, rgb(139, 34, 133) 60%, rgb(40, 33, 94) 80%, rgb(33, 11, 47) 100%);
  }
}

#sun {
  background: linear-gradient(0deg, rgb(253, 53, 138) 0%, rgb(252, 240, 0) 100%);
  box-shadow: -1px -2px 30px 3px rgba(250, 105, 25, 0.75);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  top: 40%;
  left: calc(50% - 20vh);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 10s wakeup-sun;
}
@media screen and (min-width: 1400px) {
  #sun {
    height: 50vh;
    width: 50vh;
    top: 30%;
    left: calc(50% - 25vh);
  }
}
#sun img {
  width: 60%;
  filter: drop-shadow(-10px 5px 20px #000);
  margin-bottom: 1rem;
  animation: 3s ease-in react-fly infinite alternate;
}
@media screen and (min-width: 900px) {
  #sun img {
    margin-bottom: 5rem;
  }
}

.stars {
  position: absolute;
  border-radius: 50px;
  background-color: beige;
  animation: 10s wakeup-sun;
}
.stars.star1 {
  top: 10%;
  left: 10%;
  width: 0.1rem;
  height: 0.1rem;
}
.stars.star2 {
  top: 30%;
  left: 5%;
  width: 0.3rem;
  height: 0.3rem;
}
.stars.star3 {
  top: 50%;
  left: 13%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star4 {
  top: 80%;
  left: 5%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star5 {
  top: 12%;
  right: 8%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star6 {
  top: 85%;
  right: 16%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star7 {
  top: 60%;
  right: 10%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star8 {
  top: 40%;
  right: 13%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star9 {
  top: 50%;
  right: 5%;
  width: 0.2rem;
  height: 0.2rem;
}

#mountains-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  animation: 10s wakeup-sun;
}
@media screen and (min-width: 1400px) {
  #mountains-container {
    height: 45%;
  }
}

.mountain {
  position: absolute;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(#000 70%, #111 85%, rgba(255, 255, 255, 0.0666666667));
}
@media screen and (min-width: 1400px) {
  .mountain {
    width: 40%;
  }
}

#mountain-left {
  left: 0;
  clip-path: polygon(0% 100%, 0% 55%, 5% 60%, 10% 55%, 20% 50%, 25% 42%, 30% 38%, 33% 35%, 40% 45%, 50% 50%, 60% 70%, 70% 85%, 75% 82%, 80% 91%, 85% 90%, 90% 95%, 95% 98%, 100% 100%);
}

#mountain-right {
  right: 0;
  clip-path: polygon(0% 100%, 5% 95%, 10% 85%, 15% 87%, 20% 80%, 25% 78%, 30% 65%, 40% 70%, 50% 57%, 60% 53%, 67% 68%, 70% 70%, 75% 66%, 80% 55%, 90% 50%, 95% 60%, 100% 57%, 100% 100%);
}

#grid {
  width: 100vw;
  height: 40vh;
  background: black;
  position: relative;
  perspective: 1000px;
}

#grid-titles {
  position: absolute;
  top: -75px;
  z-index: 20;
  width: 100%;
  padding: 0 0.5rem;
}
#grid-titles h1 {
  text-align: center;
  color: white;
  font-family: "pixel";
  font-size: 2rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 1100px) {
  #grid-titles h1 {
    font-size: 2rem;
    margin-top: 3rem;
    line-height: 3;
  }
}

#sig {
  width: 350px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  #sig {
    width: 500px;
  }
}

.sig__path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.animated .sig__path {
  opacity: 1;
  animation-name: line;
}

#shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}

#columns {
  width: 100%;
  height: 100%;
  display: flex;
  transform-origin: top center;
  transform: rotateX(65deg);
}
#columns .column {
  border-right: 1px solid rgb(45, 45, 45);
  width: 10%;
  height: 200%;
}

.anim-col1 {
  animation: 15s ease 1.0051439956s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col1 {
    display: block;
  }
}

.anim-col2 {
  animation: 17s ease 7.7033178508s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col2 {
    display: block;
  }
}

.anim-col3 {
  animation: 20s ease 0.1958540559s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col3 {
    display: block;
  }
}

.anim-col4 {
  animation: 19s ease 4.1710700557s light-glow-col infinite alternate;
}

.anim-col5 {
  animation: 24s ease light-glow-col infinite alternate;
}

.anim-col6 {
  animation: 18s ease 9.9658203062s light-glow-col infinite alternate;
}

.anim-col7 {
  animation: 16s ease 1.8755247796s light-glow-col infinite alternate;
}

.anim-col8 {
  animation: 22s ease 2s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col8 {
    display: block;
  }
}

.anim-col9 {
  animation: 20s ease 9.0637172185s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col9 {
    display: block;
  }
}

.anim-col10 {
  animation: 17s ease 9.168359324s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col10 {
    display: block;
  }
}

#lines {
  position: absolute;
  top: 0;
  width: 95%;
  height: 100%;
  transform-origin: top;
  transform: rotateX(60deg);
}
#lines .line {
  width: 100%;
  height: 25%;
  margin: 0 auto;
}

.anim-lin1 {
  animation: 15s ease 1.574632143s light-glow-lin infinite alternate;
}

.anim-lin2 {
  animation: 17s ease 6.7900625481s light-glow-lin infinite alternate;
}

.anim-lin3 {
  animation: 20s ease 1.471165631s light-glow-lin infinite alternate;
}

.anim-lin4 {
  animation: 19s ease 8.1753776217s light-glow-lin infinite alternate;
}

.anim-lin5 {
  animation: 24s ease light-glow-lin infinite alternate;
}

/*# sourceMappingURL=styles.css.map */
