@import 
    "./partials/variables",
    "./partials/fonts",
    "./partials/animations",
    "./partials/home";

//==============GENERAL================//

#home {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

