<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Météo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../public/img/favicon_nuage.png" type="image/x-icon">
  <script type="module" crossorigin src="../public/js/weather.js"></script>
  <link rel="stylesheet" href="../public/css/styles-weather.css">
</head>

<body>
  <header>
    <h1>Pierre vous présente la météo, la vraie</h1>
    <form class="form" id="city-form" action="post">
      <label for="city" class="form__label">
      </label>
      <input type="text" name="city" id="city" class="form__input" placeholder="Ex : Brest">
      <button type="submit" class="form__button"><img src="../public/img/search.svg" alt="search"></button>
    </form>
    <div id="notifications"></div>
  </header>

  <main>
    <!-- ===== Météo actuelle // Actual weather ===== -->
    <div id="now">
      <h2>Actuellement à Brest :</h2>
      <div class="weather-container">

        <div class="weather-container__window">
          <span id="actual-weather_txt">Pluie modérée</span>
          <img id="actual-weather_img" src="https://openweathermap.org/img/wn/09d.png" alt="nuages">
        </div>
        <div class="weather-container__window">
          <span id="actual-temp_txt">0°C</span>
          <img id="actual-temps_img" src="../public//img/thermometre.png" alt="temperature">
        </div>
        <div class="weather-container__window">
          <span id="actual-feel_txt">Ressentis: 0°C</span>
          <img id="actual-feel_img" src="../public//img/thermometre.png" alt="temperature">
        </div>
        <div class="weather-container__window">
          <span id="actual-wind_txt">0km/h</span>
          <img id="actual-wind_img" src="../public//img/wind-power.png" alt="wind">
        </div>
        <div class="weather-container__window">
          <span id="actual-humidity_txt">0% d'humidité</span>
          <img id="actual-humidity_img" src="../public//img/humidite.png" alt="humidity">
        </div>
        <div class="weather-container__window">
          <span id="actual-sun_txt">Levé à 06h00 couché à 20h00</span>
          <img id="actual-sun_img" src="https://openweathermap.org/img/wn/01d.png" alt="sun">
        </div>
      </div>
    </div>

    <!-- ===== Prévisions prochaines heures // Forecast for next hours ===== -->
    <div id="forecastHours"></div>

    <!-- ===== Prévisions prochains jours // Actual for next days ===== -->
    <div id="forecastDays"></div>
  </main>


</body>

</html>