@font-face {
  font-family: 'amsterdam';
  src: local('amsterdam'), local('amsterdam'),
    url('../font/Amsterdam Four_ttf 400.ttf');
}
@font-face {
  font-family: 'pixel';
  src: local('pixel'), local('pixel'), url('../font/Pixel.ttf');
}
@-webkit-keyframes light-glow-col {
  0% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-right: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) -10px 0px 45px -7px inset,
      rgb(202, 46, 216) 10px 0px 45px -7px;
  }
  50% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-right: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) -10px 0px 45px -7px inset,
      rgb(39, 168, 243) 10px 0px 45px -7px;
  }
  80% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@keyframes light-glow-col {
  0% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-right: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) -10px 0px 45px -7px inset,
      rgb(202, 46, 216) 10px 0px 45px -7px;
  }
  50% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-right: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) -10px 0px 45px -7px inset,
      rgb(39, 168, 243) 10px 0px 45px -7px;
  }
  80% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-right: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@-webkit-keyframes light-glow-lin {
  0% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-top: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) 0px 10px 45px -7px inset,
      rgb(39, 168, 243) 0px -15px 45px -7px;
  }
  50% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-top: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) 0px 10px 45px -7px inset,
      rgb(202, 46, 216) 0px -15px 45px -7px;
  }
  80% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@keyframes light-glow-lin {
  0% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  25% {
    border-top: 1px solid rgb(39, 168, 243);
    box-shadow: rgb(39, 168, 243) 0px 10px 45px -7px inset,
      rgb(39, 168, 243) 0px -15px 45px -7px;
  }
  50% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  70% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  75% {
    border-top: 1px solid rgb(202, 46, 216);
    box-shadow: rgb(202, 46, 216) 0px 10px 45px -7px inset,
      rgb(202, 46, 216) 0px -15px 45px -7px;
  }
  80% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
  100% {
    border-top: 1px solid rgb(45, 45, 45);
    box-shadow: none;
  }
}
@-webkit-keyframes fly {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes fly {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
@-webkit-keyframes wakeup-sun {
  from {
    transform: translateY(90%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes wakeup-sun {
  from {
    transform: translateY(90%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
body {
  font-family: arial;
}

#home {
  overflow: hidden;
  height: 100vh;
}

.title-section {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
  background: none;
  color: white;
  font-family: 'pixel';
}

.bg-page {
  background: radial-gradient(
    circle,
    rgb(75, 19, 97) 0%,
    rgb(93, 23, 101) 30%,
    rgb(40, 33, 94) 92%,
    rgb(33, 11, 47) 100%
  );
}

#chevron {
  position: absolute;
  z-index: 109;
  right: 1rem;
  bottom: 1rem;
  -webkit-animation: 1s fly infinite alternate;
  animation: 1s fly infinite alternate;
}
@media screen and (min-width: 800px) {
  #chevron {
    right: 5rem;
    bottom: 5rem;
  }
}

#contact-bar {
  animation: 5s ease-in fly alternate-reverse infinite;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
}
@media screen and (min-width: 600px) {
  #contact-bar {
    width: 8%;
  }
}
@media screen and (min-width: 600px) {
  #contact-bar {
    width: 5%;
  }
}
@media screen and (min-width: 1100px) {
  #contact-bar {
    width: 50px;
  }
}
#contact-bar a {
  cursor: pointer;
}
#contact-bar a img {
  width: 100%;
  transition: 0.3s ease;
}
#contact-bar a img:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
#contact-bar a img:nth-child(1) {
  margin-bottom: 0.5rem;
}

#sky {
  height: 60vh;
  width: 100vw;
  position: relative;
  z-index: -5;
  background: rgb(29, 6, 38);
  background: radial-gradient(
    circle,
    rgb(29, 6, 38) 0%,
    rgb(93, 23, 101) 30%,
    rgb(139, 34, 133) 60%,
    rgb(40, 33, 94) 92%,
    rgb(33, 11, 47) 100%
  );
}
@media screen and (min-width: 1400px) {
  #sky {
    background: radial-gradient(
      circle,
      rgb(29, 6, 38) 0%,
      rgb(93, 23, 101) 30%,
      rgb(139, 34, 133) 60%,
      rgb(40, 33, 94) 80%,
      rgb(33, 11, 47) 100%
    );
  }
}

#sun {
  background: linear-gradient(
    0deg,
    rgb(253, 53, 138) 0%,
    rgb(252, 240, 0) 100%
  );
  box-shadow: -1px -2px 30px 3px rgba(250, 105, 25, 0.75);
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  top: 40%;
  left: calc(50% - 22.5vh);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: 7s wakeup-sun;
  animation: 7s wakeup-sun;
}
@media screen and (min-width: 900px) {
  #sun {
    height: 65vh;
    width: 65vh;
    top: 15%;
    left: calc(50% - 32.5vh);
  }
}
#sun img {
  width: 60%;
  -webkit-filter: drop-shadow(-10px 5px 20px #000);
  filter: drop-shadow(-10px 5px 20px #000);
  margin-bottom: 1rem;
  -webkit-animation: 6s ease-in fly infinite alternate;
  animation: 6s ease-in fly infinite alternate;
}
@media screen and (min-width: 1400px) {
  #sun img {
    margin-bottom: 5rem;
  }
}

.stars {
  position: absolute;
  border-radius: 50px;
  background-color: beige;
  -webkit-animation: 10s wakeup-sun;
  animation: 10s wakeup-sun;
}
.stars.star1 {
  top: 10%;
  left: 10%;
  width: 0.1rem;
  height: 0.1rem;
}
.stars.star2 {
  top: 30%;
  left: 5%;
  width: 0.3rem;
  height: 0.3rem;
}
.stars.star3 {
  top: 50%;
  left: 13%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star4 {
  top: 80%;
  left: 5%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star5 {
  top: 12%;
  right: 8%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star6 {
  top: 85%;
  right: 16%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star7 {
  top: 60%;
  right: 10%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star8 {
  top: 40%;
  right: 13%;
  width: 0.2rem;
  height: 0.2rem;
}
.stars.star9 {
  top: 50%;
  right: 5%;
  width: 0.2rem;
  height: 0.2rem;
}

#mountains-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  -webkit-animation: 10s wakeup-sun;
  animation: 10s wakeup-sun;
}
@media screen and (min-width: 1400px) {
  #mountains-container {
    height: 45%;
  }
}

.mountain {
  position: absolute;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(
    #000 70%,
    #111 85%,
    rgba(17, 17, 17, 0.771)
  );
}
@media screen and (min-width: 1400px) {
  .mountain {
    width: 40%;
  }
}

#mountain-left {
  left: 0;
  -webkit-clip-path: polygon(
    0% 100%,
    0% 55%,
    5% 60%,
    10% 55%,
    20% 50%,
    25% 42%,
    30% 38%,
    33% 35%,
    40% 45%,
    50% 50%,
    60% 70%,
    70% 85%,
    75% 82%,
    80% 91%,
    85% 90%,
    90% 95%,
    95% 98%,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    0% 55%,
    5% 60%,
    10% 55%,
    20% 50%,
    25% 42%,
    30% 38%,
    33% 35%,
    40% 45%,
    50% 50%,
    60% 70%,
    70% 85%,
    75% 82%,
    80% 91%,
    85% 90%,
    90% 95%,
    95% 98%,
    100% 100%
  );
}

#mountain-right {
  right: 0;
  -webkit-clip-path: polygon(
    0% 100%,
    5% 95%,
    10% 85%,
    15% 87%,
    20% 80%,
    25% 78%,
    30% 65%,
    40% 70%,
    50% 57%,
    60% 53%,
    67% 68%,
    70% 70%,
    75% 66%,
    80% 55%,
    90% 50%,
    95% 60%,
    100% 57%,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    5% 95%,
    10% 85%,
    15% 87%,
    20% 80%,
    25% 78%,
    30% 65%,
    40% 70%,
    50% 57%,
    60% 53%,
    67% 68%,
    70% 70%,
    75% 66%,
    80% 55%,
    90% 50%,
    95% 60%,
    100% 57%,
    100% 100%
  );
}

#grid {
  width: 100vw;
  height: 40vh;
  background: black;
  position: relative;
}

#wrap-grid {
  perspective: 1000px;
  height: 100%;
  width: 100%;
}

#grid-titles {
  position: absolute;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
#grid-titles h1 {
  text-align: center;
  color: white;
  font-family: 'pixel';
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  top: -55px;
}
@media screen and (min-width: 500px) {
  #grid-titles h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    line-height: 2;
  }
}
@media screen and (min-width: 1400px) {
  #grid-titles h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

#sig {
  width: 320px;
  height: 120px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -58px;
}
@media screen and (min-width: 600px) {
  #sig {
    width: 400px;
    height: 150px;
    top: -75px;
  }
}
@media screen and (min-width: 1400px) {
  #sig {
    width: 500px;
  }
}

.sig__path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.animated .sig__path {
  opacity: 1;
  -webkit-animation-name: line;
  animation-name: line;
}

#shadow {
  position: absolute;
  z-index: 45;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgb(0, 0, 0) 100%
  );
}

#columns {
  width: 100%;
  height: 100%;
  display: flex;
  transform-origin: top center;
  transform: rotateX(65deg);
  z-index: 30;
  position: relative;
  transform-style: preserve-3d;
}
#columns .column {
  border-right: 1px solid rgb(45, 45, 45);
  width: 10%;
  height: 200%;
}

.anim-col1 {
  -webkit-animation: 15s ease 0.1838822538s light-glow-col infinite alternate;
  animation: 15s ease 0.1838822538s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col1 {
    display: block;
  }
}

.anim-col2 {
  -webkit-animation: 17s ease 5.6047163618s light-glow-col infinite alternate;
  animation: 17s ease 5.6047163618s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col2 {
    display: block;
  }
}

.anim-col3 {
  -webkit-animation: 20s ease 6.9525761076s light-glow-col infinite alternate;
  animation: 20s ease 6.9525761076s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col3 {
    display: block;
  }
}

.anim-col4 {
  -webkit-animation: 19s ease 4.6839944681s light-glow-col infinite alternate;
  animation: 19s ease 4.6839944681s light-glow-col infinite alternate;
}

.anim-col5 {
  -webkit-animation: 24s ease light-glow-col infinite alternate;
  animation: 24s ease light-glow-col infinite alternate;
}

.anim-col6 {
  -webkit-animation: 18s ease 8.4601407979s light-glow-col infinite alternate;
  animation: 18s ease 8.4601407979s light-glow-col infinite alternate;
}

.anim-col7 {
  -webkit-animation: 16s ease 4.6418358164s light-glow-col infinite alternate;
  animation: 16s ease 4.6418358164s light-glow-col infinite alternate;
}

.anim-col8 {
  -webkit-animation: 22s ease 2s light-glow-col infinite alternate;
  animation: 22s ease 2s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col8 {
    display: block;
  }
}

.anim-col9 {
  -webkit-animation: 20s ease 1.4307734517s light-glow-col infinite alternate;
  animation: 20s ease 1.4307734517s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col9 {
    display: block;
  }
}

.anim-col10 {
  -webkit-animation: 17s ease 9.069680666s light-glow-col infinite alternate;
  animation: 17s ease 9.069680666s light-glow-col infinite alternate;
  display: none;
}
@media screen and (min-width: 900px) {
  .anim-col10 {
    display: block;
  }
}

#lines {
  position: absolute;
  top: 0;
  width: 95%;
  height: 100%;
  transform-origin: top;
  transform: rotateX(60deg);
  z-index: 31;
  transform-style: preserve-3d;
}
#lines .line {
  width: 100%;
  height: 25%;
  margin: 0 auto;
}

.anim-lin1 {
  -webkit-animation: 15s ease 7.3791958187s light-glow-lin infinite alternate;
  animation: 15s ease 7.3791958187s light-glow-lin infinite alternate;
}

.anim-lin2 {
  -webkit-animation: 17s ease 9.8109012759s light-glow-lin infinite alternate;
  animation: 17s ease 9.8109012759s light-glow-lin infinite alternate;
}

.anim-lin3 {
  -webkit-animation: 20s ease 9.121236683s light-glow-lin infinite alternate;
  animation: 20s ease 9.121236683s light-glow-lin infinite alternate;
}

.anim-lin4 {
  -webkit-animation: 19s ease 0.9863336479s light-glow-lin infinite alternate;
  animation: 19s ease 0.9863336479s light-glow-lin infinite alternate;
}

.anim-lin5 {
  -webkit-animation: 24s ease light-glow-lin infinite alternate;
  animation: 24s ease light-glow-lin infinite alternate;
}

#skills {
  padding: 0.5rem 2rem;
  margin-bottom: 3rem;
}

#skill-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}
@media screen and (min-width: 900px) {
  #skill-wrap {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }
}

.skill-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}
.skill-img img {
  transition: 0.2s;
  width: 40%;
  -webkit-filter: drop-shadow(-2px 1px 5px #000);
  filter: drop-shadow(-2px 1px 5px #000);
}
.skill-img img:hover {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(-2px 4px 9px #000);
  filter: drop-shadow(-2px 4px 9px #000);
}
@media screen and (min-width: 900px) {
  .skill-img img {
    width: 60%;
  }
}

#introduce {
  padding-top: 3rem;
  width: 100%;
  height: 1000px;
  color: white;
  background: black;
}

#exp,
#wrapper {
  width: 40%;
  height: 200px;
  border: 1px solid white;
}

#wrapper {
  display: flex;
}

.left-info {
  background-color: blue;
}

.right-info {
  background-color: violet;
}

#axe-wrap {
  border: 1px solid white;
  width: 50px;
  height: 100px;
  position: relative;
  left: -70px;
}

#achievement {
  margin-bottom: 3rem;
  overflow: hidden;
}
#achievement h2 {
  text-align: center;
  color: white;
  margin: 2rem 0;
  font-size: 2rem;
  font-family: 'pixel';
}

#achievement-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  width: 80%;
  margin: auto;
}

.project {
  width: 80%;
  position: relative;
}
.project img {
  width: 100%;
  border: 10px solid black;
}
@media screen and (min-width: 500px) {
  .project {
    width: 60%;
  }
}
@media screen and (min-width: 725px) {
  .project {
    width: 40%;
  }
}
@media screen and (min-width: 900px) {
  .project {
    width: 35%;
  }
}
@media screen and (min-width: 1430px) {
  .project {
    width: 20%;
  }
}

.project:hover .project-details,
.project.hover .project-details {
  opacity: 1;
  transform: translateY(-100%);
}

.project-details {
  transform: translateY(100%);
  transition: all 0.3s ease;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 1rem;
  border: 10px solid black;
  opacity: 0;
}
.project-details h3,
.project-details p,
.project-details span {
  color: black;
}
.project-details h3 {
  font-size: 1.5rem;
}
.project-details p {
  margin-top: 1rem;
}
.project-details p span {
  font-weight: bold;
  font-size: 1.1rem;
}

footer {
  padding: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
}
footer #mentions-link {
  color: white;
  text-align: center;
  cursor: pointer;
}

#mentions-legales {
  display: none;
  width: 80%;
  background: white;
  color: black;
  border: 2px solid black;
  padding: 2rem;
  position: absolute;
  left: 10%;
  bottom: 100%;
  border-radius: 15px;
}
#mentions-legales.show-mentions {
  display: block;
}
#mentions-legales img {
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.1s;
  cursor: pointer;
}
#mentions-legales img:hover {
  transform: scale(1.2);
}
#mentions-legales h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
#mentions-legales p {
  margin-bottom: 1rem;
}

#contact,
#contact-form input,
#contact-form textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

#contact {
  color: white;
  padding: 2rem;
}
@media screen and (min-width: 1000px) {
  #contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
}

#contact-title,
#contact-form {
  margin: auto;
  width: 98%;
}
@media screen and (min-width: 1000px) {
  #contact-title,
  #contact-form {
    margin: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1320px) {
  #contact-title,
  #contact-form {
    width: 30%;
  }
}

#contact-title {
  margin-bottom: 2rem;
}
#contact-title h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'pixel';
}
#contact-title a {
  color: white;
  text-decoration: underline;
}
#contact-title p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: auto;
}
#contact-title .social-link img {
  width: 10%;
}

#contact-img {
  width: 50%;
  margin: auto;
}
@media screen and (min-width: 1080px) {
  #contact-img {
    width: 310px;
    margin: 0;
  }
}

#contact-img img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
}
#contact-form input,
#contact-form textarea {
  border-radius: 5px;
  padding: 0.5rem;
}
#contact-form input {
  margin-bottom: 1rem;
  height: 2.5rem;
}
#contact-form textarea {
  margin-bottom: 1rem;
}
#contact-form button {
  width: 20%;
  padding: 0.5rem;
  align-self: flex-end;
  min-width: 70px;
}
