//==============FONT=====================//

@font-face {
    font-family: "amsterdam";
    src: local("amsterdam"), local("amsterdam"),
      url("../font/Amsterdam Four_ttf 400.ttf");
  }
@font-face {
    font-family: "pixel";
    src: local("pixel"), local("pixel"),
      url("../font/Pixel.ttf");
  }