//==============GENERAL================//

#home {
  overflow: hidden;
  // width: 100vw;
  height: 100vh;
}

.title-section {
  // padding: 1rem 0;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
  background: none;
  color: white;
  font-family: "pixel";
}

.bg-page {
  background: radial-gradient(
    circle,
    rgb(75, 19, 97) 0%,
    rgba(93, 23, 101, 1) 30%,
    rgba(40, 33, 94, 1) 92%,
    rgba(33, 11, 47, 1) 100%
  );
}
