//==============GENERAL================//

#home {
    overflow: hidden;
    // width: 100vw;
    height: 100vh;
}

.title-section {
    // padding: 1rem 0;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
    background: none;
    color: white;
    font-family: "pixel";
}



