// Compétences

//! Attention version mobile pas au point

#skills {
    // height: 24vh;
    background: radial-gradient(circle, rgb(75, 19, 97) 0%, rgba(93,23,101,1) 30%, rgba(40,33,94,1) 92%, rgba(33,11,47,1) 100%);
    padding: 1.5rem 5px;
}


#skill-wrap {

}


.skill-img {
    width: 20%;
    position: relative;

    img {
        position: relative;
        z-index: 11;
        width: 100%;
        transition: 0.2s;
        
        &:hover {
            transform: scale(1.3);
            filter: drop-shadow(11px 25px 38px #000);
            
        }
    }
}