//==============VARIABLES================//

$bg-lines : rgb(45, 45, 45);
$bg-lines-light-glowr : rgb(202, 46, 216);
$bg-lines-light-glowb : rgb(39, 168, 243);

$size-big-sun : 50vh;
$size-mid-sun : 45vh;